<a href="#" {{action "toggleMenu"}} class="game-menu-hamburger">
  {{fa-icon "close"}}
</a>

<ul class="menu-options">
  <li>
  <div class="game-menu-button" {{action "toggleAudio"}}>{{audioText}}</div>
  </li>
  <li>
  <div class="game-menu-button" {{action "changeBall"}}>{{ballText}}</div>
  </li>
</ul>

{{yield}}
